<div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="goTo(home)" role="button">Home</a></li>
                <li class="active">Gestão</li>
            </ol>
        </div>
    </div><!-- contact -->
<div class="contact" style="padding-bottom: 100px">
    <div class="container">
        <table style="width:100%">
            <tr>
                <th>| Gestão Pagamento |</th>
                <th>| Gestão Orçamento |</th>
                <th>| Gestão Afiliação |</th>
            </tr>
            <tr>
                <td><a ng-click="goTo(pagamentoFirst)" role="button">Pagamentos pagos pelo integrador</a></td>
                <td><a ng-click="goTo(orcamentoFirst)" role="button">Número de serviços concretizados num determinado período</a></td> 
                <td><a ng-click="goTo(afiliacaoFirst)" role="button">Número de usuários afiliados num determinado período</a></td>
            </tr>
            <tr>
                <td><a ng-click="goTo(pagamentoSecond)" role="button">Tempo até o pagamento ser efetuado</a></td>
                <td><a ng-click="goTo(orcamentoSecond)" role="button">Número de orçamentos feitos em determinado período</a></td> 
                <td><a ng-click="goTo(afiliacaoSecond)" role="button">Número de usuários afiliados até uma data</a></td>
            </tr>
        </table>


    </div>
</div>