<div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="goTo(home)" role="button">Home</a></li>
                <li class="active">Gestão</li>
            </ol>
        </div>
    </div><!-- contact -->
<div class="contact">
    <div class="container">
        <table style="width:100%">
            <tr>
                <th>Gestão Pagamento</th>
                <th>Gestão Orçamento</th>
                <th>Gestão Afiliação</th>
            </tr>
            <tr>
                <td>Pagamentos pagos pelo integrador</td>
                <td>Número de serviços concretizados num determinado período</td> 
                <td>Número de usuários afiliados num determinado período</td>
            </tr>
            <tr>
                <td>Tempo até o pagaemento ser efetuado</td>
                <td>Número de orçamentos feitos em determinado período</td> 
                <td>Número de usuários afiliados até uma data</td>
            </tr>
        </table>
    </div>
</div>