<div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="goTo(home)" role="button">Home</a></li>
                <li class="active">Contato</li>
            </ol>
        </div>
    </div><!-- contact -->
<div class="contact">
    <div class="container">
        <h3>Fale Conosco</h3>
        <div class="contact-content">
            <form name="myForm">
                <input type="text" class="textbox" name="Nome" ng-focus="blank('Nome')" ng-blur="return('Nome')" required ng-model="Nome"><br>
                <input type="text" class="textbox" name="Email" ng-focus="blank('Email')" ng-blur="return('Email')" required ng-model="Email"><br>
                    <div class="clear"> </div>
                <div>
                    <textarea ng-focus="blank('Mensagem')" name="Mensagem" ng-blur="return('Mensagem')" required ng-model="Mensagem">Mensagem</textarea><br>
                </div>	
               <div class="submit"> 
                    <input class="btn btn-default cont-btn" type="submit" value="Enviar" ng-click="enviar()"/>
              </div>
            </form>
            <div class="map">
            <iframe src=https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14629.255906055638!2d-46.730234!3d-23.5571644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27dcb36f1486d564!2sEPUSP+-+Pr%C3%A9dio+da+Engenharia+El%C3%A9trica!5e0!3m2!1spt-BR!2sbr!4v1468001940014> </iframe>
            </div>
        </div>
    </div>
</div>