<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ng-click="goTo(home)" role="button">Home</a></li>
            <li class="active">Pagamento</li>
        </ol>
    </div>
</div>
<!-- check-out -->
    <div class="check">
        <div class="container">	 
            <div class="col-md-3 cart-total">
             <!--   <a class="continue" ng-click="goTo(home)" role="button">Continuar Comprando</a> -->
                <div class="price-details">
                    <h3>Detalhes</h3>
                    <span>Serviço</span>
                    <span class="total1">R$ {{total}}</span>
                    <div class="clearfix"></div>				 
                </div>
                <hr class="featurette-divider">
                <ul class="total_price">
                   <li class="last_price"> <h4>TOTAL</h4></li>
                   <li ng-show="cortesia" class="last_price"><span>R$ {{total * 0.9}}</span></li>
                   <li ng-hide="cortesia" class="last_price"><span>R$ {{total}}</span></li>
                   <div class="clearfix"> </div>
                </ul> 
                <div class="clearfix"></div>
                <a class="order" ng-click="goTo(checkout)" role="button">Pagar</a>
            </div>
            <div class="col-md-9 cart-items">
                <h1>Lista de Serviços</h1>
                <div class="container">
                    <div ng-repeat="produto in produtos">
                        <itemCarrinho salvar="salvar" deletar="deletar" produto="produto" reset="reset"></itemCarrinho>
                    </div>
                </div>                    
                <div class="clearfix"></div>
            </div>
                
        </div>